@charset "utf-8";

body {font-family:  'metro'; font-size: 1.6rem; line-height: 1.5; color: #000; overflow-x: hidden;}
:root{ 
    --mainFont:'metro';
    --subcolor: #F48E89;
}
.inner4 { padding: 10% 5%; max-width: 1700px; margin: 0 auto;}

/* 서브 비주얼 공통영역 sv */
.sv { display: flex; align-items: center; gap: 50px; position: relative; background: url('../images/sub/men/svbg.png')no-repeat center / cover;}
.sv .right img { width: 100%; height: 100%; display: block;}

/* 탭메뉴 */
#tab { position: absolute; left: 3%; bottom: 5%; width: 180px; background: rgba(0, 0, 0,0.5) ; color: #fff; border: 1px solid #fff; padding: 10px 10px;}
#tab option { background: #000; font-family: var(--mainFont);}

.sv .left { padding: 0 5% 3% 0; margin-top: 100px;}
.sv .left h2 { font-weight: 600; font-size: 3.5rem;  padding-bottom: 40px; position: relative; line-height: 1.3; color: #333; font-style: italic;}
.sv .left ul { display: flex; gap: 20px; cursor: url("../images/main/mouse_bg.png"), auto;}
.sv .left ul li { position: relative;}
.sv .left ul li img { display: block; width: 100%; height: 100%; }
.sv .left ul li a { position: absolute; left: 0; top: 0; display: none; transition: all 0.5s;}
.sv .left ul li a img { display: block; width: 100%; height: 100%;}
.sv .left ul li:hover a { display: block; cursor: url("../images/main/mouse_bg.png"), auto;}
.sv .left ul li dl { position: absolute; left: 3%; bottom: 5%; opacity: 0; transition: all 0.5s;}
.sv .left ul li b { position: absolute; left: 3%; top: 2%; font-size: 1.5rem; color: #3e69b2; z-index: 50;}
.sv .left ul li dl dt { font-size: 1.4rem; font-weight: 600;}
.sv .left ul li dl dd { font-size: 1.2rem; font-weight: 100;}
.sv .left ul li:hover dl { opacity: 1;}

@media(max-width:1200px){
    .sv {  padding: 0;}
    .sv .right { width: 100%;}
    .sv .left { display: none;}
}

@media(max-width:768px){
    .sv { gap: 20px;}
    .sv .left h2 { font-size: 2.5rem;}
    .sv .left ul { gap: 10px;}
    .sv .left ul li img { width: 50%;}

}

/* wrap */
.list { display: flex; flex-wrap: wrap; gap: 15px; }
.list li { cursor: pointer; position: relative; width: calc((100% - 45px) / 4); }
.list li img { display: block; width: 100%;}
.list i { position: absolute; right: 4%; top: 2%; font-size: 2rem; transition: all 0.3s; z-index: 50;}
.list i:hover { color: #3e69b2;}
.list li b { color: #3e69b2; font-size: 1.3rem;}
.list dl { padding: 20px 0 0; height: 100px;}
.list dl:hover { text-decoration: underline;}
.list dl dt { font-size: 1.5rem; font-weight: 400;}
.list dl dd { font-size: 1.4rem; font-weight: 200;}
.list li a { display: none; position: absolute; left: 0; top: 0;}
.list li:hover a { display: block;}
.more { text-align: center; padding-top: 50px; transition: all 0.5s;}
.more i { font-size: 2rem; cursor: url("../images/main/mouse_bg.png"), auto; font-weight: 200; }
.more:hover { text-decoration: underline;}


@media(max-width:1200px){
    .list li { width: calc((100% - 30px) / 3);}
}

@media(max-width:768px){
    .list li { width: calc((100% - 15px) / 2);}
    .list i { font-size: 1.5rem;}
    .list dl dt { font-size: 1.3rem; font-weight: 400;}
    .list dl dd { font-size: 1.2rem; font-weight: 200;}
}